//.P-products-list{
//  max-width: 300px;
//  width: 100%;
//  max-height: 400px;
//  height: 100%;
//  border: 1px solid #4c4b4b;
//  margin: 30px;
//}
//
//.P-product-img {
//  max-width: 230px;
//  width: 100%;
//  max-height: 216px;
//  height: 100%;
//}
//
//.P-products-name{
//  font-size: 16px;
//  font-family: monospace;
//  color: #3D464D;
//  margin:6px 0;
//
//  & span{
//    color: #e74c3c;
//  }
//}
//
//.P-products-price{
//  font-size: 16px;
//  font-family: monospace;
//  color: #3D464D;
//
//  & span{
//    color: #e74c3c;
//  }
//}
//
//.P-products-categories{
//  font-size: 16px;
//  font-family: monospace;
//  color: #3D464D;
//  margin:6px 0;
//
//  & span{
//    color: #e7cb3c;
//  }
//}

// product modal container start

.P-product-modal-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.P-product-modal-bgColor{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.4;
}
// product modal container end

.P-products-modal-content {
  width: 350px;
  height: 600px;
  border: 1px solid #4c4b4b;
  background-color: #758897;
  position: relative;
  top: 0;
  left: 0;
}

.P-products-info p{
  font-size: 16px;
  font-family: monospace;
  margin: 15px 0;
  text-align: center;
}

.P-product-add-close {
  max-width: 200px;
  width: 100%;
  max-height: 150px;
  height: 100%;

  padding: 15px 0;

  & button {
    font-size: 16px;
    font-family: monospace;
    color: darkslateblue;

  }
}

//

.P-product-select{
  margin: 15px 0;

  & select {
    font-size:20px;
    font-family: monospace;
    margin: 10px 0;
  }
}