.P-home-slick{
  max-width: 700px;
  width: 100%;
  //@media screen and (max-width: 320px) {
  // width: 300px;
  //  height: 100px;
  //}
}

.P-categories-line {
  display: flex;
  flex: 1;
  width: 100%;
  padding-left: 50px;
  border: 1px dashed #7b7373;
}

