@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4tbxo');
  src:  url('fonts/icomoon.eot?4tbxo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4tbxo') format('truetype'),
    url('fonts/icomoon.woff?4tbxo') format('woff'),
    url('fonts/icomoon.svg?4tbxo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
  content: "\e907";
  color: goldenrod;
  font-size: 25px;
}
.icon-logout:before {
  content: "\e908";
  color: goldenrod;
  font-size: 25px;
  margin: 0 30px 0 0;
}

.icon-call:before {
  content: "\e903";
  color: goldenrod;
  font-size: 30px;
}
.icon-equal:before {
  content: "\e904";
  color: goldenrod;
  font-size: 30px;
}
.icon-done:before {
  content: "\e905";
  color: goldenrod;
font-size: 30px;
}
.icon-shipping-car:before {
  content: "\e906";
  color: goldenrod;
  font-size: 30px;
}
.icon-heart-fill:before {
  content: "\e900";
  color: goldenrod;
  font-size: 18px;
}
.icon-basket:before {
  content: "\e901";
  color: goldenrod;
  font-size: 18px;
}
