@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qxr8at');
  src:  url('fonts/icomoon.eot?qxr8at#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qxr8at') format('truetype'),
    url('fonts/icomoon.woff?qxr8at') format('woff'),
    url('fonts/icomoon.svg?qxr8at#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e903";
  color:gold;
  font-size: 30px;
  font-weight: 500;
}

.icon-equal:before {
  content: "\e904";
  color:gold;
  font-size: 30px;
  font-weight: 500;
}

.icon-done:before {
  content: "\e905";
  color:gold;
  font-size: 30px;
  font-weight: 500;
}

.icon-shipping-car:before {
  content: "\e906";
  color:gold;
  font-size: 30px;
  font-weight: 500;
}

.icon-login:before {
  content: "\e902";
  color:cadetblue;
  font-size: 24px;
  margin: 0 5px;
}

.icon-heart-fill:before {
  content: "\e900";
  color:goldenrod;
}

.icon-basket:before {
  content: "\e901";
  color:goldenrod;
}
