.P-categories-filter {
  margin: 30px 0 0 0;
  border: 1px solid red;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
}

.P-filter-price-title {
  font-size: 18px;
  font-family: monospace;
  color: #e74c3c;
}

.G-filter-info {
  margin: 30px 0 0 15px;
}

// ********************* categories filter product *********************

.P-categories-filter-product {
  margin: 30px 0 0 0;
  width: calc(100% - 300px);
  height: 100vh;
  border: 1px solid blue;
  overflow-y: scroll;
}