
.P-categories-img {
  max-width: 250px;
  width: 100%;
  height: 73px;
}

.P-title-categories {
  font-size: 35px;
}

.P-categories-info {
  width: 100%;
  height: 100px;
  background-color: white;
  padding: 5px;
}

.P-categorises{
  width: 300px;
  height: 110px;
  margin:10px 0;
}

.uuu{
  width:calc(100% - 300px);
  height:73px;
  background-color: rosybrown;
}

.P-empty{
  font-size: 18px;
  margin: 20px;
  font-family: monospace;
  color:#449fdb;
}

//

.P-categories-container{
  width: 100%;
  height: calc(100vh - 73px);
  overflow: auto;
}



// loading

.P-loading-title{
  font-size: 34px;
  font-family: monospace;
  color: #e74c3c;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e74c3c;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

