.P-header{
  width: 100vw;
height: 73px;

  background-color: #3D464D ;
  //@media screen and (max-width: 320px){
  //  width: 100%;
  //  background-color: red;
  //  height: 20px;
  //}
}

.P-logo-custom{
  color:white;
  background-color: #2D2F33;
  padding: 3px;
}

.P-logo-shop{
  color: black;
  background-color: red;
  padding: 3px;
}

.P-header-ul a{
  color:white;
  margin: 0 30px;

  &:hover{
    color:goldenrod;
  }
}
.P-header-heart-basket p{
 width: 20px;
  margin: 0 2px;
  color:white;
}

.P-product-like{
  border-radius:100%;
  border: 1px solid white;
  text-align: center;
  margin: 0 5px;
  color: white;
}

.icon-login-btn{
  background: transparent;
}