.P-filer-content {
  width: 320px;
  height: 370px;
  border: 1px solid black;
  margin: 30px;
}


.P-filter-img {
  width: 250px;
  height: 250px;
}

.P-filer-content a {
  font-size: 16px;
  font-family: cursive;
  color: black;
}

.P-filer-content span {
  color: #e74c3c;
}

.P-filer-content .P-price {
  color: green;
}