.P-modal-categories{
  width: 300px;
  height: 500px;
  border:2px solid #4c4b4b;
}

.P-categories-input-name{
  font-size: 18px;
  color: black;
  font-family: monospace;
  margin:15px 0;
}

.P-categories-input{
  width: 200px;
  height: 30px;
  border: 1px solid darkslateblue;
}

// botton

.P-btn-categories{
  font-size: 16px;
  font-family: monospace;
  color: darkslateblue;
}