.P-logo-banner {
  width: 100%;
  height: 73px;
  background-color: #2D2F33;
}

.P-left-side-bar {
  max-width: 250px;
  width: 100%;
  height: 73px;
}

.P-nav-bar {
  max-width: 250px;
  width: 100%;
  height: calc(100vh - 100%);
  background-color: #3D464D;

  & a {
    font-family: monospace;
    font-size: 22px;
    color: white;
    margin: 10px 0;
  }
}




